@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

/* Common */
html {
  height: 100%;
}

body {
  margin: 0;
  min-width: 1280px;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #f2f2f2;
  height: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper {
  margin: 0 auto;
  width: 1200px;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
}

.page-header {
  flex-shrink: 0;
}

.page-content {
  flex-grow: 1;
}

.button {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #756257;
  text-decoration: none;
  border: none;
  display: inline-block;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 8px 10px;
  cursor: pointer;
  outline-offset: 0;
}

.button:hover {
  background-color: #615048;
}

.button:focus {
  background-color: #615048;
  outline: 3px solid #83b3d3;
}

.button:active {
  background-color: #615048;
  color: rgba(255, 255, 255, 0.3);
  outline: none;
}

.button--coldlight {
  background-color: #83b3d3;
}

.button--coldlight:hover {
  background-color: #68a2ca;
  outline: 1px solid #756257;
}

.button--coldlight:focus {
  background-color: #68a2ca;
  outline: 3px solid #756257;
}

.button--coldlight:active {
  background-color: #68a2ca;
  outline: 1px solid #756257;
  color: rgba(255, 255, 255, 0.3);
}

.button--favorite {
  background-color: #7db54f;
}

.button--favorite:hover {
  background-color: #6c9e42;
  outline: none;
}

.button--favorite:focus {
  background-color: #6c9e42;
  outline: 3px solid #756257;
}

.button--favorite:active {
  background-color: #6c9e42;
  outline: 1px solid #756257;
  color: rgba(255, 255, 255, 0.3);
}


.control {
  display: grid;
  grid-template-columns: 20px auto;
  gap: 19px;
}

.control__mark {
  position: relative;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border-radius: 4px;
  cursor: pointer;
}

.control__mark:hover {
  background-color: rgba(255, 255, 255, 0.6);
}

.control__input:focus + .control__mark {
  background-color: rgba(255, 255, 255, 0.6);
  outline: 3px solid #83b3d3;
}

.control__input:active + .control__mark {
  background-color: rgba(255, 255, 255, 0.3);
  outline: none;
}

.control__input[type="checkbox"]:checked + .control__mark {
  background-image: url("../img/icons/icon-checkbox.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.control__input[type="radio"] + .control__mark {
  border-radius: 50%;
}

.control__input[type="radio"]:checked + .control__mark::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background-color: #3f5e72;
}

.info {
  width: 800px;
  text-align: center;
  margin: 0 auto;
}

.info__title {
  margin: 0;
  margin-bottom: 30px;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.info__text {
  font-size: 22px;
  line-height: 26px;
  margin: 0;
}

/* Header */
.main-nav {
  position: relative;
  display: flex;
  padding-top: 14px;
  padding-right: 72px;
  padding-left: 60px;
  justify-content: space-between;
}

.site-nav {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 440px;
}

.site-nav__item {
  margin-bottom: 14px;
}

.site-nav__item:not(:last-child) {
  margin-right: 9px;
}

.site-nav__link {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #000000;
  text-decoration: none;
  border-radius: 10px;
  display: block;
  padding: 3px 9px;
  padding-top: 2px;
  border: 3px solid transparent;
}

.site-nav__link--active {
  position: relative;
}

.site-nav__link--active::after {
  content: "";
  position: absolute;
  z-index: 1;
  display: block;
  height: 2px;
  left: 8px;
  right: 8px;
  bottom: -18px;
  background-color: #756257;
}

.site-nav__link:hover {
  color: #756257;
}

.site-nav__link:focus {
  outline: none;
  border-color: #83b3d3;
  color: #756257;
}

.site-nav__link:active {
  opacity: 0.3;
  border-color: transparent;
}

.site-logo {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 50%;
  /* transform: translateX(-50%); */
  margin-left: -69px;
}

.site-logo:focus {
  outline-color: #83b3d3;
  transform: scale(1.5);
  margin-top: 18px;
  transition: all 0.5s ease-in;
}

.user-nav {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  justify-content: flex-end;
}

.user-nav__item {
  margin-right: 1px;
  margin-bottom: 14px;
  display: flex;
  align-items: center;
  position: relative;
}

.user-nav__item:last-child {
  margin-right: 0;
}

.user-nav__icon {
  width: 18px;
  height: 18px;
  display: block;
  box-sizing: content-box;
  padding: 6.5px 7px;
  border: 3px solid transparent;
  border-radius: 10px;
  background-color: transparent;
  cursor: pointer;
}

.user-nav__icon:hover {
  fill: #756257;
}

.user-nav__icon:focus {
  border-color: #83b3d3;
  fill: #756257;
  outline: none;
}

.user-nav__icon:active {
  opacity: 0.3;
  border-color: transparent;
}

.user-nav__icon--cloud {
  margin-right: 22px;
  position: relative;
}

.user-nav__count {
  position: absolute;
  top: -3px;
  right: -6px;
  border-radius: 50%;
  width: 19px;
  height: 19px;
  font-size: 10px;
  line-height: 13px;
  text-align: center;
  letter-spacing: -1px;
  background-color: #7db54f;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-nav__button {
  min-width: 160px;
}

/* Welcome */

.welcome {
  width: 1200px;
  height: 485px;
  display: flex;
  position: relative;
  margin-bottom: 61px;
  background-color: #8ebbd2;
  background-image: url("../img/index/index-background.jpg");
}

.welcome::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 57px;
  background-image: url("../img/index/divider.svg");
  bottom: 0;
  left: 0;
}

.welcome__img {
  width: 458px;
  height: 352px;
  margin: 51px auto 82px;
}

/* Advantages */
.advantages {
  margin-bottom: 89px;
}

.advantages__info {
  margin-bottom: 85px;
}

.advantages__title {
  margin-bottom: 38px;
}

.reasons {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 400px);
  text-align: center;
}

.reasons__item {
  display: grid;
}

.reasons__item--big {
  grid-column: 1 / -1;
  grid-template-columns: repeat(3, 400px);
}

.reasons__img {
  grid-column: span 2;
}

.reasons__container {
  padding: 98px 75px 77px;
  min-height: 208px;
}

.reasons__container--secondary {
  color: #ffffff;
  background-color: #83b3d3;
  padding: 98px 90px 77px;
}

.reasons__container--secondary h3 {
  color: #ffffff;
}

.reasons__item:nth-child(2n+3) .reasons__container {
  background-color: rgba(131, 179, 211, 0.12);
}

.reasons__item:nth-child(2n+4) .reasons__container {
  background-color: rgba(131, 179, 211, 0.2);
}

.reasons__title {
  text-transform: uppercase;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  margin: 0;
  margin-bottom: 28px;
}

.reasons__number {
  margin-bottom: 30px;
  display: block;
}

.reasons__text {
  margin: 0;
}

.features {
  margin: 0;
  padding: 0;
  list-style: none;
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: repeat(3, 400px);
}

.features__item {
  padding: 185px 75px 90px;
  background-color: #ffffff;
  background-image: url("../img/icons/icon-house.svg");
  background-repeat: no-repeat;
  background-position: 163px 89px;
}

.features__item--icon-hamburger {
  background-image: url("../img/icons/icon-hamburger.svg");
  background-position: 163px 91px;
}

.features__item--icon-souvenir {
  background-image: url("../img/icons/icon-souvenir.svg");
  background-position: 168px 85px;
}

.features__item--secondary-bg {
  background-color: rgba(131, 179, 211, 0.12);
}

.features__title {
  margin: 0;
  margin-bottom: 18px;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #000000;
}

.features__text {
  margin: 0;
}

/* Search */

.search {
  text-align: center;
  margin-bottom: 91px;
}

.search__info {
  margin-bottom: 59px;
}

.search__button {
  text-align: center;
  width: 575px;
  font-size: 20px;
  line-height: 36px;
  padding: 12px 15px;
  border-radius: 10px;
}

/* Newsletter */

.newsletter {
  padding: 87px 0 138px;
}

.newsletter--index {
  background-image: url("../img/index/newsletter-bg.jpg");
  color: #ffffff;
  padding: 92px 0 94px;
}

.newsletter__info {
  margin-bottom: 47px;
}

.newsletter--index .info__title {
  color: inherit;
}

.newsletter__form {
  display: flex;
  width: 800px;
  margin: 0 auto;
}

.newsletter__label {
  flex-grow: 1;
}

.newsletter__input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  border-radius: 10px 0 0 10px;
  border: 2px solid transparent;
  font-size: 18px;
  line-height: 26px;
  padding: 15px 20px;
  letter-spacing: -0.3px;
  background-color: #f2f2f2;
}

.newsletter__input::placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.newsletter__input:hover {
  background-color: #e6e6e6;
}

.newsletter__input:focus {
  background-color: #e6e6e6;
  outline: 3px solid #83b3d3;
}

.newsletter__input--active {
  outline: none;
  background-color: #ffffff;
  border-color: #000000;
}


.newsletter__button {
  min-width: 200px;
  padding-top: 17px;
  padding-bottom: 17px;
  border-radius: 0 10px 10px 0;
  font-size: 20px;
  line-height: 26px;
}

.newsletter__button:hover,
.newsletter__button:active {
  outline: none;
}

/* Footer */

.page-footer {
  padding-top: 25px;
  padding-bottom: 28px;
  padding-left: 61px;
  padding-right: 49.5px;
  flex-shrink: 0;

  display: flex;
  align-items: flex-start;
}

.social {
  margin: 0;
  margin-top: 13px;
  margin-right: 187px;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 40px);
  gap: 4px;
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  fill: #83b3d3;
  box-sizing: border-box;
}

.social__link:hover {
  fill: #68a2ca;
}

.social__link:focus {
  fill: #68a2ca;
  border: 3px solid #83b3d3;
  border-radius: 10px;
  outline: none;
}

.social__link:active {
  fill: #68a2ca;
  opacity: 0.3;
  border: none;
}

.contacts {
  font-style: normal;
  font-size: 40px;
  line-height: 40px;
  margin-right: auto;
}

.contacts a {
  text-decoration: none;
  color: #000000;
  display: block;
  padding: 12px;
  padding-top: 9px;
  border: 3px solid transparent;
}

.contacts a:hover {
  color: #756257;
}

.contacts a:focus {
  color: #756257;
  border-radius: 10px;
  border-color: #83b3d3;
  outline: none;
}

.contacts a:active {
  color: rgba(117, 98, 87, 0.3);
  border-color: transparent;
}

.author {
  padding: 14px 19px;
  border: 3px solid transparent;
  border-radius: 10px;
}

.author:hover {
  fill: #756257;
}

.author:focus {
  fill: #756257;
  border-color: #83b3d3;
  outline: none;
}

.author:active {
  border-color: transparent;
  opacity: 0.3;
}

.author svg {
  display: block;
}

/* Catalog */
.container-bg {
  background-image: url("../img/catalog/catalog-background.jpg");
  padding: 44px 65px 82px;
  padding-right: 72px;
}

.catalog-title {
  font-size: 60px;
  line-height: 60px;
  color: #ffffff;
  margin: 0;
  margin-left: 7px;
}

/* Breadcrumbs */

.breadcrumbs {
  margin: 0;
  margin-bottom: 42px;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  font-size: 16px;
  color: #ffffff;
  flex-wrap: wrap;
}

.breadcrumbs__item:not(:first-child) {
  position: relative;
  margin-left: 10px;
}

.breadcrumbs__item:not(:first-child)::after {
  content: "";
  position: absolute;
  top: 50%;
  left: -7px;
  width: 5px;
  height: 8px;
  transform: translateY(-50%);
  background-image: url("../img/icons/icon-arrow.svg");
  background-repeat: no-repeat;
  opacity: 0.3;
}

.breadcrumbs__link {
  color: inherit;
  text-decoration: none;
  display: block;
  padding: 0 5px;
  border: 3px solid transparent;
  border-radius: 4px;
}

.breadcrumbs__link:hover {
  opacity: 0.6;
}

.breadcrumbs__link:focus {
  border-color: #83b3d3;
  outline: none;
  opacity: 1;
}

.breadcrumbs__link:active {
  opacity: 0.3;
  border-color: transparent;
}

.breadcrumbs__link--home {
  padding-top: 3px;
  padding-bottom: 6px;
  width: 12px;
  height: 12px;
  background-image: url("../img/icons/icon-home.svg");
  background-repeat: no-repeat;
  background-position: center;
}


/* Filter-form */
.filter-form {
  color: #ffffff;
  line-height: 23px;
  display: flex;
  margin-left: 7px;
}

.filter-form__fieldset {
  border: 0;
  padding: 0;
  margin: 0;
}

.filter-form__fieldset:first-child {
  margin-right: 67px;
}

.filter-form__fieldset:nth-child(2) {
  margin-right: auto;
}

.filter-form__fieldset:nth-child(3) {
  margin-right: 81px;
}

.filter-form__legend {
  padding: 0;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  margin-bottom: 30px;
}

.filter-form__control:not(:last-child) {
  margin-bottom: 13px;
}


.filter-form__buttons {
  display: flex;
  flex-direction: column;
  min-width: 160px;
  padding-top: 61px;
}

.filter-form__submit {
  margin-bottom: 18px;
  padding-top: 13.5px;
  padding-bottom: 13.5px;
}

.filter-form__submit:hover {
  background-color: #68a2ca;
}

.filter-form__submit:focus {
  background-color: #68a2ca;
  outline-color: #ffffff;
}

.filter-form__reset {
  font-family: inherit;
  font-size: 18px;
  line-height: 23px;
  color: inherit;
  background-color: transparent;
  border-radius: 4px;
  cursor: pointer;
  border: 0;
  padding-top: 1px;
  padding-bottom: 2px;
  padding-left: 10px;
  padding-right: 10px;
  align-self: center;
}

.filter-form__reset:hover {
  color: rgba(255, 255, 255, 0.6);
}

.filter-form__reset:focus {
  box-shadow: 0 0 0 3px #83b3d3;
  outline: none;
}

.filter-form__reset:active {
  color: rgba(255, 255, 255, 0.3);
  box-shadow: none;
}

/* Range-slider */

.range-slider {
  width: 287px;
  padding-top: 5px;
}

.range-slider__inputs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2px;
  position: relative;
  margin-bottom: 28px;
}

.range-slider__border {
  position: absolute;
  width: 2px;
  height: 100%;
  top: -3px;
  left: 50%;
  background-color: #ffffff;

  transform: translateX(-50%);
  background-clip: padding-box;
  border: 3px solid transparent;
}

.range-slider__label {
  position: relative;
}

.range-slider__placeholder {
  content: "";
  position: absolute;
  top: 50%;
  right: 14px;
  transform: translateY(-50%);
  opacity: 0.3;
}

.range-slider__input {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent;
  appearance: textfield;
  outline: none;
  border: 2px solid #ffffff;
  box-sizing: border-box;
  padding-top: 12px;
  padding-right: 40px;
  padding-bottom: 9px;
  padding-left: 17px;
  display: block;
  width: 100%;
}

.range-slider__input:hover {
  border-color: rgba(255, 255, 255, 0.6);
}

.range-slider__input:focus {
  box-shadow: 0 0 0 3px #81b3d2,
    inset 0 0 0 3px #81b3d2;
  border-color: #ffffff;
}

.range-slider__input--active {
  background-color: #756257;
  border-color: #ffffff;
  box-shadow: none;
}

.range-slider__input--min {
  border-right: none;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.range-slider__input--max {
  border-left: none;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.range-slider__input::-webkit-inner-spin-button,
.range-slider__input::-webkit-outer-spin-button {
  appearance: none;
}

.range-slider__range {
  background-color: rgba(255, 255, 255, 0.3);
  height: 4px;
  position: relative;
}

.range-slider__indicator {
  background-color: #ffffff;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: space-between;
  top: 0;
}

.range-slider__toggler {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 50%;
  transform: translateY(-50%);
  padding: 0;
  border: none;
  background-color: #ffffff;
  border-radius: 5px;
  cursor: pointer;
}

.range-slider__toggler--max {
  right: 0;
}

.range-slider__toggler:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.range-slider__toggler:focus {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  outline: 3px solid #83b3d3;
}

.range-slider__toggler:active {
  box-shadow: 0 7px 15px rgba(0, 0, 0, 0.4);
  outline: 2px solid #83b3d3;
}

/* Sort */

.sort {
  padding: 44px 72px 42px;
  padding-left: 71px;
  display: flex;
  align-items: center;
}

.sort__count {
  font-weight: 700;
  font-size: 30px;
  line-height: 39px;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
  margin-right: auto;
}

.sort__select {
  margin-right: 81px;
}

.control-select {
  display: block;
  position: relative;
  width: 287px;
}

.control-select::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 7px;
  background-image: url("../img/icons/icon-dropdown.svg");
  background-repeat: no-repeat;
  background-position: center;
  top: 50%;
  right: 19px;
  transform: translateY(-50%);
  opacity: 0.3;
}

.control-select__label {
  align-self: center;
}

.control-select__select {
  font-family: inherit;
  font-size: inherit;
  line-height: 23px;
  color: inherit;
  border: 2px solid #e6e6e6;
  border-radius: 4px;
  appearance: none;
  display: block;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 11px;
  padding-left: 17px;
  padding-right: 31px;
  outline: none;
}

.control-select__select:hover,
.control-select__select:focus {
  border-color: #83b3d3;
}

.control-select__select:active {
  border-color: #e6e6e6;
  color: rgba(51, 51, 51, 0.3);
}

.views {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 48px);
  gap: 8px;
}

.views__link {
  width: 48px;
  height: 48px;
  display: block;
  box-sizing: border-box;
  border: 2px solid #e6e6e6;
  background-image: url("../img/icons/icon-tile.svg");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 4px;
}

.views__link--slide {
  background-image: url("../img/icons/icon-slideshow.svg");
}

.views__link--list {
  background-image: url("../img/icons/icon-list.svg");
}

.views__link:hover,
.views__link:focus {
  border-color: #83b3d3;
}

.views__link--active {
  border-color: #000000;
}

/* Products */

.products {
  padding: 0 72px;
}

.products__list {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  list-style: none;
}

.products__item {
  border-bottom: 1px solid #e6e6e6;
  padding: 30px 0;
  display: grid;
  grid-template-columns: 180px auto 160px;
  gap: 36px;
}

.products__item:first-child {
  border-top: 1px solid #e6e6e6;
}

.products__link-img:hover {
  opacity: 0.6;
}

.products__link-img:focus {
  outline: 3px solid #83b3d3;
  outline-offset: 0;
}

.products__link-img:active {
  outline: none;
  opacity: 0.3;
}

.products__img {
  display: block;
  width: 180px;
  height: 120px;
}

.products__description {
  display: grid;
  grid-template-columns: minmax(151px, min-content) minmax(160px, min-content);
  grid-template-rows: min-content min-content auto;
  column-gap: 8px;
}

.products__link {
  text-decoration: none;
  grid-column: span 2;
  color: #000000;
  border-radius: 2px;
  justify-self: start;
}

.products__link:hover {
  color: #756257;
}

.products__link:focus {
  outline: 3px solid #83b3d3;
  outline-offset: 6px;
}

.products__title {
  font-size: 24px;
  line-height: 31px;
  margin: 0;
  margin-top: -4px;
}

.products__span {
  line-height: 23px;
}

.products__button {
  align-self: end;
}

.products__rating {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 3px;
}

/* Количество звезд * 25 = ширина
   25 = Ширина изображения + отступ справа
*/
.products__stars {
  margin: 0 auto;
  height: 17px;
  background-image: url("../img/icons/icon-star.svg");
  width: 75px;
}

.product__stars--1 {
  width: 25px;
}

.product__stars--2 {
  width: 50px;
}

.product__stars--4 {
  width: 100px;
}

.product__stars--5 {
  width: 125px;
}

.products__number {
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
  background-color: #f2f2f2;
  border-radius: 4px;
  padding: 8px;
  box-sizing: border-box;
}

.products__load-more {
  font-size: 20px;
  line-height: 26px;
  display: block;
  padding: 14.5px;
  width: 625px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.products__container {
  border-top: 1px solid #e6e6e6;
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.products__control-select {
  display: flex;
  width: 500px;
}

.products__control-select .control-select__label {
  margin-right: 51px;
  margin-left: auto;
}

.products__control-select .control-select__select {
  width: 160px;
  flex-shrink: 0;
}

/* Paginator */
.paginator {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  width: 450px;
}

.paginator__item:not(:last-child) {
  margin-right: 8px;
}

.paginator__link {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
  border-radius: 4px;
  background-color: #83b3d3;
  display: block;
  padding: 14.5px 4px;
  box-sizing: border-box;
  min-width: 55px;
}

.paginator__link:hover {
  background-color: #68a2ca;
}

.paginator__link:focus {
  outline: 3px solid #756257;
  outline-offset: 0;
  background-color: #68a2ca;
}

.paginator__link:active {
  background-color: #68a2ca;
  outline: none;
  color: rgba(255, 255, 255, 0.3);
}

.paginator__link--active {
  background-color: #f2f2f2;
  color: #000000;
}

/* Popup */

.popup {
  display: none;
  z-index: 1;
  position: absolute;
  box-sizing: border-box;
  width: 400px;
  top: calc(100% + 11px);
  left: 21px;
  transform: translateX(-50%);
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
}

.popup--open {
  display: block;
}

.popup::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 9px;
  background-image: url("../img/icons/icon-triangle.svg");
  top: -8px;
  left: 50%;
  margin-left: -12px;
}

.popup__list {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  margin: 0;
  margin-bottom: 26px;
  padding: 24px 24px 0;
  list-style: none;
  border: 1px solid #e6e6e6;
  border-bottom: none;
}

.popup__item {
  display: grid;
  grid-template-columns: auto 16px;
  gap: 20px;
  justify-content: space-between;
  align-items: start;
  margin-bottom: 25px;
}

.popup__item:last-child {
  margin-bottom: 0;
}

.popup__link {
  text-decoration: none;
  color: inherit;
  display: grid;
  grid-template-columns: 48px auto;
  column-gap: 17px;
  border-radius: 3px;
}

.popup__link:hover {
  opacity: 0.6;
}

.popup__link:focus {
  outline: 3px solid #83b3d3;
  outline-offset: 7px;
}

.popup__link:active {
  outline: none;
  opacity: 0.3;
}

.popup__img {
  grid-row: span 2;
}

.popup__title {
  color: #000000;
  align-self: center;
}

.popup__text {
  font-size: 16px;
}

.popup__delete {
  margin-top: 7px;
  border: 0;
  padding: 0;
  width: 16px;
  height: 16px;
  background-color: transparent;
  background-image: url("../img/icons/icon-delete.svg");
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
  opacity: 0.2;
  outline-offset: 7px;
  border-radius: 2px;
}

.popup__delete:hover {
  opacity: 1;
}

.popup__delete:focus {
  opacity: 1;
  outline: 3px solid #83b3d3;
}

.popup__delete:active {
  opacity: 0.1;
  outline: none;
}

.popup__all-favorite {
  width: 100%;
  padding-top: 19.5px;
  padding-bottom: 19.5px;
  border-radius: 0;
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
}

/* Modal */

.modal {
  display: none;
  position: fixed;
  box-sizing: border-box;
  padding: 60px 70px 70px;
  width: 715px;
  top: 396px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #ffffff;
  color: #000000;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
}

.modal--open {
  display: block;
}

.modal__close-button {
  position: absolute;
  width: 53px;
  height: 53px;
  top: 54px;
  right: 70px;
  padding: 0;
  border: 0;
  border-radius: 50%;
  background-color: #f2f2f2;
  cursor: pointer;
}

.modal__close-button:hover {
  background-color: #e6e6e6;
}

.modal__close-button:focus {
  background-color: #e6e6e6;
  outline: 3px solid #83b3d3;
}

.modal__close-button:active {
  background-color: #e6e6e6;
  outline: none;
}

.modal__close-button:active::before,
.modal__close-button:active::after {
  opacity: 0.3;
}

.modal__close-button::before,
.modal__close-button::after {
  content: "";
  position: absolute;
  width: 14px;
  height: 2px;
  top: 50%;
  left: 50%;
  margin-left: -7px;
  margin-top: -1px;
  background-color: #000000;
  transform: rotate(45deg);
}

.modal__close-button::after {
  transform: rotate(-45deg);
}

.modal-search__title {
  font-size: 30px;
  line-height: 40px;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
  margin-bottom: 61px;
  letter-spacing: -0.1px;
}

.modal-search__form {
  line-height: 40px;
}

.modal-search__submit {
  display: block;
  width: 100%;
  font-size: 20px;
  line-height: 40px;
  padding: 10px;
  margin-top: 40px;
  border-radius: 10px;
}

.modal-search__submit:hover {
  outline: none;
}

.modal-search__row {
  display: grid;
  grid-template-columns: 156px 133px auto 133px;
  align-items: start;
}

.modal-search__cell {
  display: flex;
  align-self: center;
  justify-content: flex-end;
  align-items: center;
}

.modal-search__label {
  font-weight: 700;
  align-self: center;
  justify-self: start;
}

/* Date-picker */
.date-picker {
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 420px;
  padding-bottom: 40px;
}

.date-picker__label {
  justify-self: start;
  font-weight: 700;
  align-self: center;
}

.date-picker__box {
  position: relative;
}

.date-picker__message {
  position: absolute;
  margin: 0;
  top: 100%;
  left: 0;
  margin-top: -7px;
  width: 100%;
  font-size: 16px;
  line-height: inherit;
  color: #333333;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.date-picker__message--error {
  color: #ff5757;
}

.date-picker__input {
  box-sizing: border-box;
  width: 100%;
  padding: 5px 0;
  padding-left: 19px;
  padding-right: 40px;
  border: none;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-weight: 700;
  color: #000000;
  background-color: #f2f2f2;
  border-radius: 4px;
  background-image: url("../img/icons/icon-calendar.svg");
  background-repeat: no-repeat;
  background-position: top 18px  right 19px;
}

.date-picker__input:hover {
  background-color: #e6e6e6;
}

.date-picker__input:focus {
  background-color: #e6e6e6;
  outline: 3px solid #83b3d3;
}

.date-picker__input--active {
  outline: 2px solid #000000;
  background-color: #ffffff;
}

.date-picker__input::placeholder {
  color: rgba(0, 0, 0, 0.6);
}

/* Number-range */

.number-range {
  width: 133px;
  background-color: #f2f2f2;
  border-radius: 4px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 12.5px 13px;
}

.number-range__input {
  background-color: transparent;
  font-size: inherit;
  border: none;
  padding: 0;
  font-weight: 700;
  color: #000000;
  width: 57px;
  appearance: none;
  text-align: center;
  outline: none;
}

.number-range__input::-webkit-inner-spin-button,
.number-range__input::-webkit-outer-spin-button {
  appearance: none;
}

.number-range__button {
  position: relative;
  box-sizing: border-box;
  padding: 0;
  width: 25px;
  height: 25px;
  border: 3px solid transparent;
  border-radius: 3px;
  background-color: transparent;
  cursor: pointer;
  outline: none;
}

.number-range__button--decrement::before,
.number-range__button--increment::before,
.number-range__button--increment::after {
  content: "";
  position: absolute;
  width: 13px;
  height: 1px;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-1px);
  background-color: rgba(0, 0, 0, 0.3);
}

.number-range__button--increment::after {
  transform: translateX(-6px) translateY(-1px) rotate(90deg);
}

.number-range__button:hover::before,
.number-range__button:hover::after,
.number-range__button:focus::before,
.number-range__button:focus::after {
  background-color: #000000;
}

.number-range__button:focus {
  border-color: #83b3d3;
}


.number-range__button:active {
  border-color: transparent;
}

.number-range__button:active::before,
.number-range__button:active::after {
  background-color: rgba(0, 0, 0, 0.2);
}

/* Tooltip */

.tooltip {
  position: relative;
  margin-right: 20px;
  margin-left: 10px;
}

.tooltip__button {
  width: 25px;
  height: 25px;
  outline: none;
  background-color: #83b3d3;
  border: 0;
  padding: 0;
  border-radius: 50%;
  display: block;
  background-image: url("../img/icons/icon-info.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 2px 9px;
}

.tooltip__button:hover {
  background-color: #68a2ca;
}

.tooltip__button:focus {
  background-color: #68a2ca;
  outline: 3px solid #756257;
}

.tooltip__button:hover + .tooltip__text,
.tooltip__button:focus + .tooltip__text {
  display: block;
}

.tooltip__text {
  display: none;
  position: absolute;
  box-sizing: border-box;
  width: 256px;
  padding: 19px 22px 24px;
  margin: 0;
  top: 100%;
  left: 50%;
  margin-top: 16px;
  margin-left: -127px;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: #333333;
  border-radius: 10px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
}

.tooltip__text::before {
  content: "";
  position: absolute;
  width: 19px;
  height: 9px;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-image: url("../img/icons/icon-triangle2.svg");
  background-repeat: no-repeat;
}
