@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

/* Common */
html {
  height: 100%;
}

body {
  margin: 0;
  min-width: 1280px;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #ffffff;
  height: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper {
  margin: 0 auto;
  width: 1200px;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.page-header {
  flex-shrink: 0;
}

.page-content {
  flex-grow: 1;
}

.page-footer {
  flex-shrink: 0;
}

.button {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #756257;
  text-decoration: none;
  border: none;
  display: inline-block;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 8px 10px;
  cursor: pointer;
}

.button--coldlight {
  background-color: #83B3D3;
}

.info {
  width: 800px;
  text-align: center;
  margin: 0 auto;
}

.info__title {
  margin: 0;
  margin-bottom: 30px;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.info__text {
  font-size: 22px;
  line-height: 26px;
  margin: 0;
}

/* Header */
.main-nav {
  position: relative;
  display: flex;
  padding-top: 14px;
  padding-right: 72px;
  padding-left: 60px;
  justify-content: space-between;
}

.site-nav {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 440px;
}

.site-nav__item {
  margin-bottom: 14px;
}

.site-nav__item:not(:last-child) {
  margin-right: 9px;
}

.site-nav__link {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #000000;
  text-decoration: none;
  border-radius: 10px;
  display: block;
  padding: 3px 9px;
  padding-top: 2px;
  border: 3px solid transparent;
}

.site-nav__link--active {
  position: relative;
}

.site-nav__link--active::after {
  content: "";
  position: absolute;
  z-index: 1;
  display: block;
  height: 2px;
  left: 8px;
  right: 8px;
  bottom: -18px;
  background-color: #756257;
}

.site-nav__link:hover {
  color: #756257;
}

.site-nav__link:focus {
  outline: none;
  border-color: #83b3d3;
  color: #756257;
}

.site-nav__link:active {
  opacity: 0.3;
  border-color: transparent;
}

.site-logo {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.site-logo:focus {
  outline-color: #83b3d3;
}

.user-nav {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  justify-content: flex-end;
}

.user-nav__item {
  margin-right: 1px;
  margin-bottom: 14px;
  display: flex;
  align-items: center;
}

.user-nav__item:last-child {
  margin-right: 0;
}

.user-nav__icon {
  width: 18px;
  height: 18px;
  display: block;
  box-sizing: content-box;
  padding: 6.5px 7px;
  border: 3px solid transparent;
  border-radius: 10px;
  background-color: transparent;
  cursor: pointer;
}

.user-nav__icon:hover {
  fill: #756257;
}

.user-nav__icon:focus {
  border-color: #83b3d3;
  fill: #756257;
  outline: none;
}

.user-nav__icon:active {
  opacity: 0.3;
  border-color: transparent;
}

.user-nav__icon--cloud {
  margin-right: 22px;
  position: relative;
}

.user-nav__count {
  position: absolute;
  top: -3px;
  right: -6px;
  border-radius: 50%;
  width: 19px;
  height: 19px;
  font-size: 10px;
  line-height: 13px;
  text-align: center;
  letter-spacing: -1px;
  background-color: #7db54f;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-nav__button {
  min-width: 160px;
}

.button:hover {
  background-color: #615048;
}

.button:focus {
  outline: 3px solid #83b3d3;
  outline-offset: 0;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);
  outline: none;
}

/* Welcome */

.welcome {
  width: 1200px;
  height: 485px;
  display: flex;
  position: relative;
  margin-bottom: 61px;
  background-color: #8ebbd2;
  background-image: url("../img/index/index-background.jpg");
}

.welcome::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 57px;
  background-image: url("../img/index/divider.svg");
  bottom: 0;
  left: 0;
}

.welcome__img {
  width: 458px;
  height: 352px;
  margin: 51px auto 82px;
}

/* Advantages */
.advantages {
  margin-bottom: 89px;
}

.advantages__info {
  margin-bottom: 85px;
}

.advantages__title {
  margin-bottom: 38px;
}

.reasons {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 400px);
  text-align: center;
}

.reasons__item {
  display: grid;
}

.reasons__item--big {
  grid-column: 1 / -1;
  grid-template-columns: repeat(3, 400px);
}

.reasons__img {
  grid-column: span 2;
}

.reasons__container {
  padding: 98px 75px 77px;
  min-height: 208px;
}

.reasons__container--secondary {
  color: #ffffff;
  background-color: #83B3D3;
  padding: 98px 90px 77px;
}

.reasons__container--secondary h3 {
  color: #ffffff;
}

.reasons__item:nth-child(2n+3) .reasons__container {
  background-color: rgba(131, 179, 211, 0.12);
}

.reasons__item:nth-child(2n+4) .reasons__container {
  background-color: rgba(131, 179, 211, 0.2);
}

.reasons__title {
  text-transform: uppercase;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  margin: 0;
  margin-bottom: 28px;
}

.reasons__number {
  margin-bottom: 30px;
  display: block;
}

.reasons__text {
  margin: 0;
}

.features {
  margin: 0;
  padding: 0;
  list-style: none;
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: repeat(3, 400px);
}

.features__item {
  padding: 185px 75px 90px;
  background-color: #ffffff;
  background-image: url("../img/icons/icon-house.svg");
  background-repeat: no-repeat;
  background-position: 163px 89px;
}

.features__item--icon-hamburger {
  background-image: url("../img/icons/icon-hamburger.svg");
  background-position: 163px 91px;
}

.features__item--icon-souvenir {
  background-image: url("../img/icons/icon-souvenir.svg");
  background-position: 168px 85px;
}

.features__item--secondary-bg {
  background-color: rgba(131, 179, 211, 0.12);
}

.features__title {
  margin: 0;
  margin-bottom: 18px;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #000000;
}

.features__text {
  margin: 0;
}

/* Search */

.search {
  text-align: center;
  margin-bottom: 91px;
}

.search__info {
  margin-bottom: 59px;
}

.search__button {
  text-align: center;
  width: 575px;
  font-size: 20px;
  line-height: 36px;
  padding: 12px 15px;
  border-radius: 10px;
}

/* Newsletter */

.newsletter {
  padding: 92px 0 94px;
}

.newsletter--index {
  background-image: url("../img/index/newsletter-bg.jpg");
  color: #ffffff;
}

.newsletter__info {
  margin-bottom: 47px;
}

.newsletter--index .info__title {
  color: inherit;
}

.newsletter__form {
  display: flex;
  width: 800px;
  margin: 0 auto;
}

.newsletter__label {
  flex-grow: 1;
}

.newsletter__input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  border-radius: 10px 0 0 10px;
  border: 2px solid transparent;
  font-size: 18px;
  line-height: 26px;
  padding: 15px 20px;
  letter-spacing: -0.3px;
  background-color: #f2f2f2;
}

.newsletter__input::placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.newsletter__input:hover {
  background-color: #e6e6e6;
}

.newsletter__input:focus {
  background-color: #e6e6e6;
  outline: 3px solid #83B3D3;
}

.newsletter__input:active,
.newsletter__input:focus:not(:placeholder-shown) {
  outline: none;
  background-color: #ffffff;
  border-color: #000000;
}


.newsletter__button {
  min-width: 200px;
  padding-top: 17px;
  padding-bottom: 17px;
  border-radius: 0 10px 10px 0;
  font-size: 20px;
  line-height: 26px;
}
